body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

.orange-text {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 18px 36px;
    font-size: 20px;
    color: var(--White-Color, #FFF);

}

/* header related style */
header {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'),url("images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom,top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profail-pic {
    width: 584px;
    height: 676px;

}

.hi-iam {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.name {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;

}

.pragraph {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
}

/*about section style*/
.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-discription {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

main {
    width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.info-discription {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

#id-discription {
    padding: 30px 130px;
}

.skill-container {
    display: flex;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-discription {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* Resume section title */

.section-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 70px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-item-discreption {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer style */
footer {
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;
}
.section-discription {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
}
.social-link a{
    margin-right: 30px;
}
.contact>.input-text,.input-email,.input-textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    font-size: 16px;
    color: var#757575;
    border-radius: 5px;
    background-color: #FFF;
    width: 100%;
}